div.container {
    width: 85vw;
}

form {
    display: flex;
}

form input {
    flex:3;
    margin: 3px;
}

form button {
    flex:1;
    margin: 3px;
}

div.repo-item {
    border: 1px gold solid;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    display: flex;
}

div.repo-item span {
    flex:1;
    margin-left: 10px;
}

div.repo-item img {
    height:30px;
    width:30px;
    border-radius: 100%;
    margin-left: 10px;    
}

div.repo-item button {
    position: relative;
    right: 1px;
}
